{% extends "base.twig" %}

{% block vars %}
	{{ _output("article/{slug}/index.html") }}
	{{ _reload([
		{ layout: "index.twig", output: "index.html"},
		{ layout: "rss.twig", output: "feed.rss"}
	]) }}
{% endblock %}

{% block title %}{{ article.title }}{% endblock %}

{% block meta %} {{ parent() }}
			<meta name="author" content="{{ article.uthor }}">{% endblock %}

{% block page %}
			<article>
				<h1>{{ article.title }}</h1>
				<em>by {{ article.author }} on {{ article.date|date("Y/m/d", false) }}</em>
				{{ article.content }}
			</article>
{% endblock %}
